<main data-page="<%=page %>">
    <!-- Dashboard (Hero Section) EJS body content -->
    <div class="container home__section">
        <div class="text-center home__bg">
            <div class="hero">
                <h1 class="hero__title display-4 fw-bold gradient-text">Find Your Perfect<br>Living Space</h1>
                <p class="hero__subtitle lead mt-4 mb-4">
                    Discover your dream home in the most sought-after locations
                </p>
                <div class="hero__search input-group search-box p-2 bg-white w-75 mx-auto shadow rounded mt-3 mb-5">
                    <span class="input-group-text bg-white border-0">
                        <i class="bi bi-geo-alt"></i>
                    </span>
                    <input type="text" class="form-control border-0" placeholder="Enter Location, Property-type...">
                    <button class="homesearch_btn px-4" type="button">
                        <i class="bi bi-search mr-2"></i> Search
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- PROPERTY SECTION -->
    <div class="section__container" id="property_box">
        <div class="container">
            <div class="section__box">
                <div class="section__main">
                    <div class="section__header">
                        <p class="section__header_subtitle">Explore Properties</p>
                        <h2 class="section__header_title">Featured Properties</h2>
                        <p class="section__header_description">
                            Discover our handpicked selection of premium properties designed to match your lifestyle
                            needs
                        </p>
                    </div>
                    <div class="home_property__menu">
                        <!-- RENDER CARDS HERE -->
                        <div class="property_card">
                            <div class="property_image">
                                <div class="property_image_overlay"></div>
                                <img src="https://ik.imagekit.io/xh3awoalr/Property/202107161117437419-e3fafef2e4a811eba1070242ac110004_oEx1ru6uf.jpg"
                                    alt="Beachfront Villa in Goa">
                                <div class="badges">
                                    <span class="badge badge_type">Villa</span>
                                    <span class="badge badge_sale">For Buy</span>
                                </div>
                                <a href=""><button class="view_btn"><i class="bi bi-eye-fill"></i></button></a>
                            </div>
                            <div class="property_content">
                                <h3 class="property_title text-truncate d-inline-block" style="max-width: 250px;">
                                    Beachfront
                                    Villa in Goa</h3>
                                <p class="property_location"><i class="bi bi-geo-alt-fill"></i> Candolim Beach, Goa</p>
                                <div class="property_info">
                                    <div><i class="bi bi-house-door-fill"></i> 4 Bedrooms</div>
                                    <div><i class="bi bi-car-front-fill"></i> 1 Parking</div>
                                    <div><i class="bi bi-arrows-fullscreen"></i> 4500 sqft</div>
                                </div>
                                <div class="property_footer">
                                    <span class="proprty_price"><i class="bi bi-currency-rupee"></i> 2,50,000</span>
                                    <a href=""><button class="viewProperty_btn">View</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="property_card">
                            <div class="property_image">
                                <div class="property_image_overlay"></div>
                                <img src="https://ik.imagekit.io/xh3awoalr/Property/202107161117437419-e3fafef2e4a811eba1070242ac110004_oEx1ru6uf.jpg"
                                    alt="Beachfront Villa in Goa">
                                <div class="badges">
                                    <span class="badge badge_type">Villa</span>
                                    <span class="badge badge_sale">For Buy</span>
                                </div>
                                <a href=""><button class="view_btn"><i class="bi bi-eye-fill"></i></button></a>
                            </div>
                            <div class="property_content">
                                <h3 class="property_title text-truncate d-inline-block" style="max-width: 250px;">
                                    Beachfront
                                    Villa in Goa</h3>
                                <p class="property_location"><i class="bi bi-geo-alt-fill"></i> Candolim Beach, Goa</p>
                                <div class="property_info">
                                    <div><i class="bi bi-house-door-fill"></i> 4 Bedrooms</div>
                                    <div><i class="bi bi-car-front-fill"></i> 1 Parking</div>
                                    <div><i class="bi bi-arrows-fullscreen"></i> 4500 sqft</div>
                                </div>
                                <div class="property_footer">
                                    <span class="proprty_price"><i class="bi bi-currency-rupee"></i> 2,50,000</span>
                                    <a href=""><button class="viewProperty_btn">View</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="property_card">
                            <div class="property_image">
                                <div class="property_image_overlay"></div>
                                <img src="https://ik.imagekit.io/xh3awoalr/Property/202107161117437419-e3fafef2e4a811eba1070242ac110004_oEx1ru6uf.jpg"
                                    alt="Beachfront Villa in Goa">
                                <div class="badges">
                                    <span class="badge badge_type">Villa</span>
                                    <span class="badge badge_sale">For Buy</span>
                                </div>
                                <a href=""><button class="view_btn"><i class="bi bi-eye-fill"></i></button></a>
                            </div>
                            <div class="property_content">
                                <h3 class="property_title text-truncate d-inline-block" style="max-width: 250px;">
                                    Beachfront
                                    Villa in Goa</h3>
                                <p class="property_location"><i class="bi bi-geo-alt-fill"></i> Candolim Beach, Goa</p>
                                <div class="property_info">
                                    <div><i class="bi bi-house-door-fill"></i> 4 Bedrooms</div>
                                    <div><i class="bi bi-car-front-fill"></i> 1 Parking</div>
                                    <div><i class="bi bi-arrows-fullscreen"></i> 4500 sqft</div>
                                </div>
                                <div class="property_footer">
                                    <span class="proprty_price"><i class="bi bi-currency-rupee"></i> 2,50,000</span>
                                    <a href=""><button class="viewProperty_btn">View</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- DESCRIPTION SECTION -->
    <div class="section__container" id="property_box">
        <div class="container">
            <div class="section__box">
                <div class="section__main">
                    <div class="section__header">
                        <p class="section__header_subtitle">OUR STRENGTH</p>
                        <h2 class="section__header_title">Why Choose Us</h2>
                        <p class="section__header_description">
                            We're committed to providing exceptional service and finding the perfect home for you with
                            our
                            innovative approach
                        </p>
                    </div>
                    <div class="cards_menu grid_4">
                        <div class="card">
                            <div class="card_content">
                                <div class="card__icon"><i class="bi bi-chat-left-dots-fill"></i></div>
                                <h3 class="card_title">Direct Communication</h3>
                                <p class="card_subtitle">Get instant responses from our experienced agents through our
                                    real-time chat system.</p>
                                <a href="">Learn More →</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card_content">
                                <div class="card__icon"><i class="bi bi-shield-check"></i></div>
                                <h3 class="card_title">Verified Properties</h3>
                                <p class="card_subtitle">Every property is thoroughly inspected and verified to ensure
                                    quality and authenticity.</p>
                                <a href="">Learn More →</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card_content">
                                <div class="card__icon"><i class="bi bi-house-check-fill"></i></div>
                                <h3 class="card_title">Quality Fiest</h3>
                                <p class="card_subtitle">We maintain high standards for all properties, ensuring you get
                                    the
                                    best value.</p>
                                <a href="">Learn More →</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card_content">
                                <div class="card__icon"><i class="bi bi-people-fill"></i></div>
                                <h3 class="card_title">Family focused</h3>
                                <p class="card_subtitle">Find homes that perfectly match your family needs and lifestyle
                                    preferences.</p>
                                <a href="">Learn More →</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY SECTION -->
    <div class="container">
        <div class="gallery" id="gallery">
            <img class="gallery_items gallery_item1" src="assets/media/gallery/gal-1.jpeg" alt="">
            <img class="gallery_items gallery_item2" src="assets/media/gallery/gal-2.jpeg" alt="">
            <img class="gallery_items gallery_item3" src="assets/media/gallery/gal-3.jpeg" alt="">
            <img class="gallery_items gallery_item4" src="assets/media/gallery/gal-4.jpeg" alt="">
            <img class="gallery_items gallery_item5" src="assets/media/gallery/gal-5.jpeg" alt="">
            <img class="gallery_items gallery_item6" src="assets/media/gallery/gal-6.jpeg" alt="">
            <img class="gallery_items gallery_item7" src="assets/media/gallery/gal-7.jpeg" alt="">
            <img class="gallery_items gallery_item8" src="assets/media/gallery/gal-8.jpeg" alt="">
            <img class="gallery_items gallery_item9" src="assets/media/gallery/gal-9.jpeg" alt="">
            <img class="gallery_items gallery_item10" src="assets/media/gallery/gal-10.jpeg" alt="">
            <img class="gallery_items gallery_item11" src="assets/media/gallery/gal-11.jpeg" alt="">
            <img class="gallery_items gallery_item12" src="assets/media/gallery/gal-12.jpeg" alt="">
            <img class="gallery_items gallery_item13" src="assets/media/gallery/gal-13.jpeg" alt="">
            <img class="gallery_items gallery_item14" src="assets/media/gallery/gal-14.jpeg" alt="">
        </div>
    </div>
</main>