<div class="container">
    <div class="footer__nav">
        <ul class="footer__nav-list">
            <li class="foot_nav-item">
                <h3 class="foot_nav-title">QUICK LINKS</h3>
            </li>
            <li class="foot_nav-item">
                <a class="foot_nav-link" href="">Home</a>
            </li>
            <li class="foot_nav-item">
                <a class="foot_nav-link" href="">Properties</a>
            </li>
            <li class="foot_nav-item">
                <a class="foot_nav-link" href="">About</a>
            </li>
            <li class="foot_nav-item">
                <a class="foot_nav-link" href="">Contact</a>
            </li>
        </ul>
        <ul class="footer__nav-list">
            <li class="foot_nav-item">
                <h3 class="foot_nav-title">Property Types</h3>
            </li>
            <li class="foot_nav-item">
                <a class="foot_nav-link" href="">Flats</a>
            </li>
            <li class="foot_nav-item">
                <a class="foot_nav-link" href="">Appartments</a>
            </li>
            <li class="foot_nav-item">
                <a class="foot_nav-link" href="">Plots</a>
            </li>
            <li class="foot_nav-item">
                <a class="foot_nav-link" href="">Villa</a>
            </li>
        </ul>
        <ul class="footer__nav-list">
            <li class="foot_nav-item">
                <h3 class="foot_nav-title">Services</h3>
            </li>
            <li class="foot_nav-item">
                <a class="foot_nav-link" href="">Buy & Sale Property</a>
            </li>
            <li class="foot_nav-item">
                <a class="foot_nav-link" href="">Property Lisitngs</a>
            </li>
            <li class="foot_nav-item">
                <a class="foot_nav-link" href="">Inquiry for Property</a>
            </li>
            <li class="foot_nav-item">
                <a class="foot_nav-link" href="">Book Property</a>
            </li>
        </ul>
        <ul class="footer__nav-list">
            <li class="foot_nav-item">
                <h3 class="foot_nav-title">Contact</h3>
            </li>
            <li class="foot_nav-item flex">
                <ion-icon name="location-outline" role="img" class="md hydrated"
                    aria-label="location outline"></ion-icon>
                <a href="" class="foot_nav-link">
                    Prahaladnagar,Ahemdabad,Gujrat - 382210
                </a>
            </li>
            <li class="foot_nav-item flex">
                <ion-icon name="call-outline" role="img" class="md hydrated" aria-label="call outline"></ion-icon><a
                    class="foot_nav-link" href="">9898909076</a>
            </li>
            <li class="foot_nav-item flex">
                <ion-icon name="mail-outline" role="img" class="md hydrated" aria-label="mail outline"></ion-icon><a
                    class="foot_nav-link" href="">Email : example@gmail.com</a>
            </li>
        </ul>
    </div>
    <div class="footer__payment">
        <p class="copyright">Copyright © Build-Estate all rights reserved.</p>
    </div>
</div>