<nav class="header navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
        <a class="header__brand navbar-brand fw-bold" href="#">
            <img class="logo__img" src="/assets/media/logos/homeIcon.png" alt="">
            <span class="header__brand-text">BuildEstate</span>
        </a>
        <button class="header__toggle navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#headerNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Updated Header Menu HTML -->
        <div class="header__nav collapse navbar-collapse" id="headerNav">
            <ul class="header__menu navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="header__item nav-item">
                    <a class="header__link nav-link" href="/buildestate">
                        <i class="bi bi-house-door mx-1"></i> Home
                    </a>
                </li>
                <li class="header__item nav-item">
                    <a class="header__link nav-link" href="/buildestate/properties">
                        <i class=" bi bi-search mx-1"></i> Properties
                    </a>
                </li>
                <li class="header__item nav-item">
                    <a class="header__link nav-link" href="/buildestate/aboutus">
                        <i class="bi bi-people mx-1"></i> About Us
                    </a>
                </li>
                <li class="header__item nav-item">
                    <a class="header__link nav-link" href="/buildestate/contact">
                        <i class="bi bi-chat-dots mx-1"></i> Contact
                    </a>
                </li>
            </ul>
            <div class="header__actions d-flex align-items-center gap-2">
                <a href="" class="header__btn">Sign in</a>
                <a href="" class="header__btn">Get started</a>
            </div>
        </div>
    </div>
</nav>